*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}
.formulario{
    display: flex;
    justify-content: center;
    padding-top: 120px;
}
form{
    width: 300px;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: baseline;
    padding-left: 30px;
    padding-bottom: 50px;
    padding-top: 10px;
    box-shadow: 7.5px 7.5px 15px black;
}
form #sair{
    width: 30px;
    height: 30px;
    align-self: end;
    margin-right: 5px;
    background-color: white;
    color: gray;
    border: none;
    font-size: 20px;
}
form h1{
    color: blue;
    margin-bottom: 30px;
}
form label{
    color: gray;
}
form .campos{
    display: flex;
    flex-flow: column wrap;
    justify-content: baseline;
    gap: 5px;
}
form .campos .digite{
    width: 240px;
    height: 30px;
    margin-bottom: 25px;
    background-color: rgb(221, 221, 221);
    border: none;
}
form .divBotao{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 30px;
    margin-bottom: 30px;
    gap: 3px;
}
form .divBotao #botao{
    width: 15px;
    height: 15px;
    margin-bottom: 2px;
}
form #enviar{
    width: auto;
    height: 30px;
    background-color: blue;
    color: white;
    margin-right: 30px;
    border: none;
    margin-bottom: 30px;
}
form .divBotao2{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    gap: 10px;
    margin-right: 30px;
}
form .divBotao2 label{
    width: auto;
    justify-self: center;
    align-self: center;
}
form .divBotao2 #novaConta{
    width: auto;
    height: 30px;
    justify-self: center;
    background-color: white;
    color: blue;
    border: none;
    font-size: 17px;
}